#empty
beamline: nobeamline
namespace: nonamespace
epik8namespace: "apps.okd-datest.lnf.infn.it"
ingressClassName: "nginx"
targetRevision: "devel"
serviceAccountName: "default"
openshift: false
## parameter for static ip allocations
## baseIP
baseIp:
startIp: 1

epicsConfiguration:
  name: "epics-configuration" # name of existing configMap that set CA parameters
  address_list: 
  max_array_bytes: "10000000"
  staticIp: true ## until CA/PVA bug
  services:
  applications:
  iocs:
  externalIoc:

usegateway: true # by default use gateway

http_proxy:
https_proxy:
no_proxy:

backend:
  namespace: "backend"
  mongo:
    host: mongodb
    port: 27017
    user:
    pwd:
  elasticsearch:
    host: elasticsearch
    clusterName: elasticsearch
    port: 9200
  kafka:
    host: kafka-controller-headless
    port: 9092
cronjobs:
  charturl: 'https://baltig.infn.it/epics-containers/generic-application-chart.git'
  
syncPolicy:
    automated:
      prune: true  # Optional: Automatically remove resources not specified in Helm chart
      selfHeal: true
    syncOptions:
      - CreateNamespace=true 
      - Prune=true
    
