{{- range $key, $value := .Values.epicsConfiguration.services }}
{{- if or ( not $value.disable) ( eq $value.disable false) }}

# Service {{$key | lower}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{$.Values.beamline}}-{{ $key | lower }}-service
  {{- if $.Values.argocdNamespace }}
  namespace: {{ .Values.argocdNamespace }}
  {{- else }}
  namespace: argocd
  {{- end }}
  labels:
    rootapp: {{ $.Chart.Name }}
    rootappver: {{ $.Chart.Version }}
    beamline: {{ $.Values.beamline | quote }}
    revision: {{$.Values.targetRevision}}
    service: {{ $key | lower}}
    type: "service"
spec:
  project: {{ $.Values.argocdProject | default "default" }}
  source:
    repoURL: {{ $value.charturl }} 
    {{- if $value.chart}}
    chart: {{$value.chart}}
    {{- else}}
    path: .
    {{- end}}
    {{- if $value.targetRevision }}
    targetRevision: {{$value.targetRevision}}
    {{- else }}
    targetRevision: {{$.Values.targetRevision}}
    {{- end }}
    helm:
      releaseName: {{ $key | lower }}
      values: |
          svcname: {{ $key }}
          {{- if $value.nfsMounts }}
          nfsMounts:
          {{- toYaml $value.nfsMounts | nindent 10 }}
          {{- else }}
          {{- if $.Values.nfsMounts }}
          nfsMounts:
          {{- toYaml $.Values.nfsMounts | nindent 10 }}
          {{- end}}
          {{- end}}
          {{- if $value.nfsBackups }}
          nfsBackups:
          {{- toYaml $value.nfsBackups | nindent 10 }}
          {{- else }}
          {{- if $.Values.nfsBackups }}
          nfsBackups:
          {{- toYaml $.Values.nfsBackups | nindent 10 }}
          {{- end}}
          {{- end}}
          
          {{- toYaml . | nindent 10 }}
          {{- if $.Values.epik8s_secrets}}
          epik8s_secrets: {{$.Values.epik8s_secrets}}
          {{- end }}

          {{- if and $.Values.baseIp $value.staticIp }}
          staticIP: {{ include "allocateIpFromName" (dict "name" $key "namespace" $.Values.namespace "baseIp" $.Values.baseIp "startIp" $.Values.startIp) }}

          {{- end }}
          http_proxy: {{ $.Values.http_proxy | quote }}
          https_proxy: {{ $.Values.https_proxy | quote }}
          no_proxy: {{ $.Values.no_proxy | quote }}
          {{- if $.Values.template }}
          template: {{ $.Values.template | quote }}
          {{- else }}
          {{- if and (not $.Values.gitRepoConfig) (or $value.gitinit $value.gitpath) }}
          gitRepoConfig:
            url: {{$.Values.giturl}}
            {{- if $value.gitpath }}
            path: {{ $value.gitpath }}
            {{- else }}
            path: config/services/{{$key}}
            {{- end }}
            {{- if $value.gitrev }}
            branch: {{$value.gitrev}}
            {{- else }}
            branch: {{$.Values.gitrev}}
            {{- end }}
            {{- if $value.token }}
            token: {{$value.token}}
            {{- else }}
            token: {{$.Values.token}}
            {{- end }}
            {{- if $value.exec }}
            exec: {{$value.exec}}
            {{- end }}  
          {{- end }}
          {{- end }}
          {{- if $.Values.serviceAccountName }}
          serviceAccount:
            create: false
            annotations: {}
            name: {{$.Values.serviceAccountName}}
          {{- end }}
          
          {{- if or $value.enable_ingress $value.ingress }}
          {{- if $value.ingress }}
          ingress:
          {{- toYaml $value.ingress | nindent 12 }}
          {{- else }}
          ingress:
            enabled: true
            {{- if $.Values.ingressClassName }}
            className: {{$.Values.ingressClassName}}
            {{- end }}
            {{- if $value.secure }}
            secure: true
            {{- end }}
            hosts:
              - host: {{ printf "%s-%s.%s" $.Values.beamline ($key | lower) $.Values.epik8namespace }}
                paths:
                  - path: /
                    pathType: Prefix
          {{- end }}
          {{- end}}
          {{- if not $value.resources }}
          resources:
            limits:
              cpu: 999m
              memory: 2Gi
            requests:
              cpu: 100m
              memory: 100Mi
          {{- end }}
          {{- if $value.auto_security }}
          securityContext:
            {{- if or $.Values.openshift $value.privileged }}
            privileged: true
            {{- end }}
            runAsUser: 1000
            runAsGroup: 1000
          {{- end }}
          {{- if $.Values.epicsConfiguration.name }}
          epicsConfiguration:
            name: {{ $.Values.epicsConfiguration.name | quote}}
            {{- if $value.usegateway }}
            gateway: gateway.{{ $.Values.namespace }}.svc
            pvagateway: pvagateway.{{ $.Values.namespace }}.svc
            {{- end }}
            ca_addr_list: "{{ include "iocnames"  (dict "iocs" $.Values.epicsConfiguration.iocs "domain" $.Values.namespace) }}"
            pva_addr_list: "{{ include "pvaiocnames"  (dict "iocs" $.Values.epicsConfiguration.iocs "domain" $.Values.namespace) }}"

          {{- end }}
  
          
          {{- if $.Values.backend }}
          {{- if and $.Values.backend.mongo $value.mongodb}}
          mongo:
            host: {{ $.Values.backend.mongo.host }}.{{ $.Values.backend.namespace}}.svc
            database: {{$value.mongodb}}
            port: {{ $.Values.backend.mongo.port}}
          {{- end }}
          {{- if $.Values.backend.elasticsearch}}
          elasticsearch:
          {{- toYaml $.Values.backend.elasticsearch | nindent 12 }}

            network:
              {{- if and $.Values.backend.elasticsearch.host $.Values.backend.elasticsearch.port}}
              host: {{$.Values.backend.elasticsearch.host}}.{{ $.Values.backend.namespace}}.svc
              port: {{ $.Values.backend.elasticsearch.port}}
              {{- end }}

          {{- end }}
          {{- if $.Values.backend.kafka}}
          {{- if and $.Values.backend.kafka.host $.Values.backend.kafka.port}}
          kafka:
              host: {{$.Values.backend.kafka.host}}.{{ $.Values.backend.namespace}}.svc
              port: {{ $.Values.backend.kafka.port}}

              {{- end }}
          {{- end }}
          {{- end }}
          
      parameters:
        - name: beamline
          value: {{ $.Values.beamline | quote }}
        - name: epik8namespace
          value: {{ $.Values.epik8namespace | quote }}
       
        {{- if $value.loadbalancer }}
        - name: service.type
          value: "LoadBalancer"
        - name: service.loadBalancerIP
          value: {{$value.loadbalancer}}
        {{- end }}
        {{- if $value.nodePort }}
        - name: service.type
          value: "NodePort"
        - name: service.nodePort
          value: "{{$value.nodePort}}"
        {{- end }}
        {{- if and $value.service $value.service.port }}
        - name: service.port
          value: "{{$value.service.port}}"
        {{- end }}
    
        {{- if $value.mysql }}
        - name: mysql.host
          value: {{$value.mysql.host}}
        {{- end }}
    
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: {{ $.Values.namespace | quote }}
  {{- if $value.autosync }}
  syncPolicy:
    automated:
      prune: true  # Optional: Automatically remove resources not specified in Helm chart
      selfHeal: true
  {{- end }}
  info: 
  {{- if $value.info }}
    - name: message
      value: "{{ $value.info }}"
  {{- end }}
  {{- if $value.asset }}
    - name: asset
      value: "{{ $value.asset }}"
  {{- end }}

## END {{$key | lower}} 
{{- else }}
## not deplyed {{ $key | lower }}
{{- end }}

---
{{- end }}
